<div class="container-fluid mt-4">

	<div class="row">
		<div class="col-6">
			<table class="table table-hover table-dark table-sm" *ngIf="scripts_list.length">
				<tr>
					<th>S.No.</th>
					<th>Script</th>
					<th>Status</th>
				</tr>
				<tr *ngFor="let rec of scripts_list; let i=index" (click)="show_rules(i)"  [ngClass]="selected_index == i? 'bg-info':''">
					<td>{{i+1}}</td>
					<td>
						{{rec.script}}
					</td>
					<td>
						<span *ngIf="rec.rules">Active</span><span *ngIf="!rec.rules">Inactive</span>
					</td>
				</tr>
			</table>
			
			<span *ngIf="!scripts_list.length">
				No Scripts Available
			</span>
		
		</div>
		<div class="col-6" *ngIf="selected_index != -1">

			<table class="table table-hover table-sm" *ngIf="scripts_list.length">
				<tr class="bg-dark text-light">
					<th>Name</th>
					<th>Rule Type</th>
					<th>Value</th>
				</tr>
				<tr *ngFor="let rec of types; let i=index" class="bg-light">
					<td>
						{{rec.name}}
					</td>
					<td>
						<input type="radio" name="{{rec.name}}_type" [(ngModel)]="rules[rec.value]['type']" value="on"> On
						<input type="radio" name="{{rec.name}}_type" [(ngModel)]="rules[rec.value]['type']" value="every"> Every
						<input type="radio" name="{{rec.name}}_type" [(ngModel)]="rules[rec.value]['type']" value="null"> None
					</td>
					<td>
						<input class="form-control form-control-sm" type="text" [(ngModel)]="rules[rec.value]['value']" name="{{rec.name}}_value">
					</td>
				</tr>
			</table>

			<button *ngIf="!scripts_list[selected_index]['rules']" (click)="activate()" class="btn btn-success">Activate</button>
			<button *ngIf="scripts_list[selected_index]['rules']" (click)="deactivate_cron()" class="btn btn-danger">Deactivate</button>
			<button *ngIf="scripts_list[selected_index]['rules']" (click)="update()" class="btn btn-warning ml-2">Update</button>

		</div>
	</div>

</div>